*.iml
.gradle
/local.properties
/.idea/*
.idea
.idea/.gitignore
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
